@import url("//cdn.web-fonts.ge/fonts/bpg-arial/css/bpg-arial.min.css");

* {
  font-family: "BPG Arial", sans-serif;
}
.hello {
  color: black;
}

.logo {
  width: 150px;
}

.main-menu ul li a {
  font-size: 18px !important;
}
.hero__promotion-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__promotion.education {
  right: -6% !important;
  left: auto !important;
}

